/*region labels */
.label {
    -fx-font-family: "Comic Sans MS", sans-serif;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.info-label {
    -fx-font-family: "Comic Sans MS", sans-serif;
    -fx-font-size: 20px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.field-description-label {
    -fx-font-family: "Comic Sans MS", sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.error-label{
    -fx-font-family: "Comic Sans MS", sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-text-fill: #ff3b2d;
}

/*endregion*/
/*region password fields */

/*endregion*/
/*region password fields */
.password-field {

}

/*endregion*/

/*region buttons */
.button {
    -fx-font-size: 15;
    -fx-font-family: "Comic Sans MS", SansSerif;
    -fx-font-weight: bold;
}

.show-pass-button {
    -fx-font-family: "Comic Sans MS", SansSerif;
    -fx-font-size: 10;
    -fx-font-weight: normal;
}

/*endregion*/